
.login-container {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-top: 100px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.btn-login {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--sna-green);
}

.error-message {
  color: #f44336;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}